<!DOCTYPE html>

<html lang="en">
    <body>
        <p style="background-color:Tomato;"></p>
    </body>
    <style>
        body {
    background-color: lightblue;
            }
        </style>
</html>