<div class="footer-card">
    <div class="row">
      <div class="col-md-5">
        <br>
        <h5 style="text-align:center">
        <h5><u>Authors:</u></h5>
        <h5> Anna Stokes</h5>
        <h5> Emily Tinnon</h5>
        <h5> Weston Humphries</h5>
        <h5> Kaibry Southern</h5>

      </div>
  
      <div class="col-md-4">
        <br>

        <h5><a href="https://github.com/etinnon/bakers-dozen">See The Code</a></h5>
        <h5><a href="https://github.com/etinnon/bakers-dozen/wiki/Team-Bakers-%F0%9F%A7%81-%F0%9F%8D%B0-%F0%9F%A5%A7">Learn more about our team, Bakers Dozen!</a></h5>
        
      </div>
    </div>
</div>