<%- include('partials/html-head') %>
<%- include('partials/background') %>

<body class="container-fluid">
    
    <div class="about-section">
      <div class="card1"> 
      <h1 style="text-align:center">About Us!</h1>
      <p>In June of 2023, I started Southend Kitchen from my apartment. My specialty is traditional Southern. I like to tell people to think of what your grandmother would make during the holidays! As of now, I offer a variety of cakes, pies, cookies, and muffins. I have a set menu, but can also customize orders. I believe there is no better way to bring people together than good food!</p>
    </div>
    </div>
    
    
    <div class="row">
      <div class="column">
        <div class="card"> 
          <h1 style="text-align:center">Our Baker!</h1>
          <center><img src="/img/Anna.jpg" alt="Anna" style="width: 350px"></center>
          <div class="container">
            <h2 style="color:rgb(255, 255, 255);">Anna Stokes</h2>
            <p class="title">CEO & Founder</p>
            <p>Hello, my name is Anna Stokes, and I want to thank you for visiting out page! As head baker of Southend Kitchen, I am thrilled to share my love of baking with you. I have been baking since I was in diapers (literally) and many of the recipes I use have been passed down for generations. Take a look around, and if you see something appetizing, send in an order inquiry. I'd love to answer any and all questions or concerns you have - stay sweet! </p>
            <p>Follow us on Facebook: Southend Kitchen</p>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="/scripts/orderscript.js"></script>
</body>
</html>
