<%- include('partials/html-head') %>
<%- include('partials/background') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <body class="container-fluid">


      <div class="row">
        <div class="col-md-6 offset-md-3 card mt-3">
          <h1 class="card-title">Welcome to the Admin Login!</h1>
          <h3 class="card-title" >If you are an Admin, please login below. </h3>

          <form method = "get" action="adminCenter">
            <div class="mb-3 mt-3">
              <label for="userName" class="form-label">Username: </label>
              <input
                type="userName"
                class="form-control"
                id="userName"
                placeholder="Enter Username"
                name="userName"
              >
            </div>
            
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="pwd"
                placeholder="Enter password"
                name="pswd"
                
              >
              <input type="submit" value="Submit">
              <button disabled id="homebutton" type="submit" class="btn btn-primary">Return to Home page</button>
            </div>
            </form>
        </div>
        </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="/scripts/orderscript.js"></script>
</html>