<%- include('partials/html-head') %>
<%- include('partials/background') %>
<body class="container-fluid">
    <div class="card1"> 
      <h1 style="text-align:center">Order Now!</h1>
      <h3>Please customize a cake and submit your order request!</h3>
      </div>

    
 
<%- include('partials/cards') %>
<%- include('partials/footer') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="/scripts/orderscript.js"></script>
</body>
</html>
